@import "src/common/styles/variables";


.button_request {
  font-family: $primary-fontFamily;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  width: 380px;
  height: 71px;

  .icon_block {
    position: relative;
    width: 71px;
    height: 100%;

    .arrow_icon {
      position: absolute;
      bottom: 13px;
      right: 13px;
      width: 20px;
      height: 20px;
    }
  }
}

.light {
  background-color: $text-color;
  color: $blue-color;

  .icon_block {
    border-left: 2px solid $blue-color;

    .arrow_icon {
      stroke: $blue-color;
    }
  }
}

.dark {
  color: $text-color;
  background-color: rgba(7, 48, 93, 0);
  border: 1px solid $text-color;

  .icon_block {
    border-left: 1px solid $text-color;

    .arrow_icon {
      stroke: $text-color;
    }
  }
}