
$text-color: #FFFFFF;

$base-blue-color: rgba(19, 52, 87, 0.87);
$blue-color: #0B3461;
$deep-blue-color: #0F1D45;

$primary-fontFamily: 'Raleway', sans-serif;
$secondary-fontFamily: 'Montserrat', sans-serif;


$desktop-screen: "(max-width: 1024px)";
$tablet-screen: "(max-width: 768px)";
$mobile-screen: "(max-width: 576px)";