@import "src/common/styles/variables";

.group {
  position: relative;

  input {
    font-variant-numeric: lining-nums;
    font-family: $primary-fontFamily;
    font-size: 22px;
    color: $text-color;

    display: block;
    width: 480px;
    height: 36px;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid #757575;
    outline: none;
    background: none;
  }

  input:focus {
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $text-color;
    -webkit-box-shadow: 0 0 0 40rem $deep-blue-color inset;
    color: $text-color;
  }

  /* active state */
  input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: $text-color;
  }

  /* Полоска под инпутом */
  .bar {
    position: relative;
    display: block;
    width: 480px;
  }

  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $text-color;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }


  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
  }

  /* Подсветка под инпутом */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
}

/* Анимация подсветки */
@-webkit-keyframes inputHighlighter {
  from {
    background: $text-color;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: $text-color;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: $text-color;
  }
  to {
    width: 0;
    background: transparent;
  }
}