.logo {
  display: flex;
  align-items: center;
  position: relative;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  max-width: 170px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 1px;
    max-width: 170px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}
